@import '../../../styles/spacing.scss';
@import '../../../styles/breakpoint.scss';

$cl-primary: #039BE5;

.list-posts {
	.mat-table {
		width: 100%;
		tr.mat-row {
			cursor: pointer;
			transition: .3s background-color;
			&:hover {
				background-color: rgba($cl-primary, .3);
				.list-posts__item {
					color: white;
				}
			}
		}
	}
	&__filter {
		margin-left: $gutter;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;;
	}
	&__item {
		flex: 0 1 45%;
		display: flex;
		flex-direction: column;
		padding: $gutter;
		width: 45%;
		transition: .3s color;
	}
}