@import '../../../styles/spacing.scss';
@import '../../../styles/breakpoint.scss';

$cl-primary: #039BE5;

.list-posts {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;;
	}
	&__item {
		flex: 0 1 45%;
		display: flex;
		flex-direction: column;
		padding: $gutter;
		width: 45%;
		border-bottom: 1px solid rgba(grey, .4);
		cursor: pointer;
		transition: .3s background-color;
		&__title {
			margin-bottom: $gutter/2;
			font-size: 1.1rem;
			color: $cl-primary;
			transition: .3s color;
		}
		&__author {
			font-size: .8rem;
			font-style: italic;
			color: rgba(grey, .5);
		}
		&:hover {
			background-color: rgba($cl-primary, .3);
			.list-posts__item__title {
				color: white;
			}
		}
	}
}